<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwExceptions="false">

	<targets>
		<!--<target name="console" xsi:type="Console" />-->
		<!--<target name="file" xsi:type="File" fileName="${basedir}/log.txt" />-->
		<!--<target name="File1"
					xsi:type="File"
					fileName="${basedir}/Logs/${shortdate}/${event-context:item=ApplicationID}/Log.txt"
					layout="[${longdate}][${event-context:item=Level}][${event-context:item=Flag}][${message}][${logger}][${event-context:item=StackLineNumber}][${event-context:item=StackMethodName}][${event-context:item=StackFileName}]"
                />
		<target name="File2"
					xsi:type="File"
					fileName="${basedir}/Logs/${shortdate}/${event-context:item=ApplicationID}/Warn.txt"
					layout="[${longdate}][${event-context:item=Level}][${event-context:item=Flag}][${message}][${logger}][${event-context:item=StackLineNumber}][${event-context:item=StackMethodName}][${event-context:item=StackFileName}]"
                />-->
		<target name="Trace"
				xsi:type="File"
				fileName="${basedir}/Logs/${date:format=yyMMdd}/Trace.txt"
				layout="${date:format=HH\:mm\:ss.fff}|${level:uppercase=true}|${threadid}|${message}"
				encoding="utf-8"
				maxArchiveFiles="30"/>
		<target name="Warn"
				xsi:type="File"
				fileName="${basedir}/Logs/${date:format=yyMMdd}/Warn.txt"
				layout="${date:format=HH\:mm\:ss.fff}|${level:uppercase=true}|${threadid}|${message}"
			    encoding="utf-8"
			    maxArchiveFiles="30"/>
		<target name="Error"
				xsi:type="File"
				fileName="${basedir}/Logs/${date:format=yyMMdd}/Error.txt"
				layout="${date:format=HH\:mm\:ss.fff}|${level:uppercase=true}|${threadid}|${message}"
			    encoding="utf-8"
			    maxArchiveFiles="30"/>
	</targets>
	
	<rules>
		<!--<logger name="*" levels="Info,Error,Debug,Warn,Trace,Fail" writeTo="console"/>-->
		<!--<logger name="*" levels="Info,Error" writeTo="console"/>-->
		<!--<logger name="*" levels="Info,Debug,Error" writeTo="file"/>-->
		<!-- <logger name="*" levels="Error" writeTo="email"/> -->
		<!--<logger name="*" minlevel="Trace" writeTo="File1"/>-->
		<!--<logger name="*" minlevel="Warn" writeTo="File2"/>-->
		<logger name="*" levels="Trace,Debug,Info" writeTo="Trace"/>
		<logger name="*" levels="Warn" writeTo="Warn"/>
		<logger name="*" levels="Error,Fatal" writeTo="Error"/>
	</rules>
</nlog>