<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwExceptions="false">

	<targets>
		<target name="Trace"
				xsi:type="File"
				fileName="${basedir}/Logs/${date:format=yyMMdd}/Trace.txt"
				layout="${date:format=HH\:mm\:ss.fff}|${level:uppercase=true}|${threadid}|${message}"
				encoding="utf-8"
				maxArchiveFiles="30"/>
		<target name="Warn"
				xsi:type="File"
				fileName="${basedir}/Logs/${date:format=yyMMdd}/Warn.txt"
				layout="${date:format=HH\:mm\:ss.fff}|${level:uppercase=true}|${threadid}|${message}"
			    encoding="utf-8"
			    maxArchiveFiles="30"/>
		<target name="Error"
				xsi:type="File"
				fileName="${basedir}/Logs/${date:format=yyMMdd}/Error.txt"
				layout="${date:format=HH\:mm\:ss.fff}|${level:uppercase=true}|${threadid}|${message}"
			    encoding="utf-8"
			    maxArchiveFiles="30"/>
	</targets>
	
	<rules>
		<logger name="*" levels="Trace,Debug,Info,Warn,Error,Fatal" writeTo="Trace"/>
		<logger name="*" levels="Warn,Error,Fatal" writeTo="Warn"/>
		<!--<logger name="*" levels="Error,Fatal" writeTo="Error"/>-->
	</rules>
</nlog>